.meetingRoomPage {
  width: 100%;
  height: 100%;

  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sttBox {
  width: 500px;
  height: 500px;

  background-color: lightgray;

  display: absolute;
  justify-content: center;
  align-items: center;
}

.sttText {
  font-size: 15px;
  width: calc(100% - 40px);
  border: none;
  background-color: transparent;
  outline: none;
  letter-spacing: 1px;
  padding: 20px;
}