.memo {
  width: 50%;
  height: 100%;
  background-color: #e9f2f9;
  border-left: 2px solid #c8c8c8;
}

.memoView {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  border-left: 2px solid #c8c8c8;
  height: 100%;
  align-content: center;
  border: none;
  box-shadow: 0 -1px 2px 2px rgba(46, 46, 46, 0.5);
  background-color: #fffcf3;
}

.memoTitle {
  padding: 10px;
}

.memoArea {
  width: 100%;
  height: 100%;
}

.memoText {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 15px;
  letter-spacing: 0.5px;
  padding: 10px 40px 10px 20px;
  resize: none;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: light;
  color: rgb(55, 55, 55);
}

.logBtn {
  height: 30px;
}

.selectedMemo {
  height: 70%;
  padding: 0 20px;
  border-bottom: 1px solid rgb(212, 212, 212);
  overflow: auto;
}

.memoTopic {
  padding-bottom: 5px;
  font-size: 20px;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: bold;
}

.memoDate {
  font-size: 12px;
  padding-left: 10px;
  color: gray;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: light;
}

.memoContent {
  padding: 5px 40px 5px 0;
  font-size: 15px;
  color: rgb(55, 55, 55);
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: light;
}

.closeBtn {
  float: right;
  background-color: #fffcf3;
  border: none;
}

.memoListBtn {
  box-shadow: 1px 1px 1px 0.5px rgb(190, 190, 190);
  border: none;
  border-radius: 10px;
  font-size: 13px;
  padding: 10px;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: medium;
  background-color: rgb(233, 233, 233);
}

.clicked,
.memoListBtn:hover {
  background-color: rgba(140, 140, 140, 0.5);
}
