.memo {
  position: relative;
  width: 40%;
  height: 100%;
  background-color: #e9f2f9;
  border-left: 2px solid #c8c8c8;
}

.memoView {
  height: 100%;
  align-content: center;
  border: none;
  background-color: #fffcf3;
}

.memoTitle {
  font-size: 20px;
  font-weight: 500;
  padding: 20px 10px;
  align-content: center;
  text-align: center;
  height: 50px;
}

.memoArea {
  width: 100%;
}

.memoText {
  font-size: 15px;
  width: calc(100% - 40px);
  border: none;
  background-color: transparent;
  outline: none;
  letter-spacing: 1px;
  padding: 20px;
}
