.historyTitle {
  margin: 0 auto;
  width: 70%;
  padding: 10px 0;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.history {
  padding-left: 15%;
  position: relative;
}
