.historyItem {
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 1px 1px 2px 0.5px gray;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.historyInfo:hover,
.toggle:hover {
  cursor: pointer;
}

.historyInfo {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

.historyInfo.clicked {
  padding: 20px 20px 10px 20px;
}

.historyDetails {
  border-top: 1px solid rgb(190, 190, 190);
  margin: 0 20px;
  padding: 10px 10px 20px 5px;
}

.clicked {
  background-color: rgba(255, 255, 255);
}

.historyInfo > div {
  display: inline-block;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  line-height: 25px;
}

.date {
  float: left;
  font-size: 12px;
  color: gray;
  padding-left: 5px;
  margin-right: 10px;
}

.topic {
  font-size: 16px;
  font-weight: bold;
}

.participants {
  font-size: 13px;
  padding-bottom: 10px;
}

.keywords {
  float: right;
  font-weight: normal;
  font-size: 14px;
  margin-left: auto;
}

.keyword {
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 3px;
  background-color: rgb(255, 237, 187);
}

.toggle {
  font-size: 15px;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: medium;
  padding: 5px 0;
}

.toggle.opened {
  font-weight: bold;
  border-bottom: 1px solid rgb(190, 190, 190);
}
