div {
  font-size: 14px;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: light;
}

.userName {
  font-weight: bold;
}

.summaryContainer {
  display: flex;
  justify-content: space-between;
}

.userContent {
  padding-top: 10px;
}

.summaryTitle {
  font-weight: bold;
  padding: 5px 0;
  text-align: right;
}

.summaryContent {
  padding: 5px 8px;
  width: 60vh;
}
