.timeline{
    padding: 2px;
    display: flex;
    box-shadow: 1px 0 5px 1px rgb(200, 200, 200);
    flex-direction: column;
    align-items: center;
    width: 25%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: scroll;
}
.date {
    width: 120px;
    float: left;
    font-size: 12px;
    color: gray;
    padding-left: 5px;
}