.body {
    width: 86%;
    margin-left: 14%;
    position: relative;
    overflow-x: hidden;

}
.body::-webkit-scrollbar{
    display: none;
}

.maindiv{
    display: flex;
    padding: 10px;
    height: 100%;
    margin: auto;
    width: 101%;

}
::-webkit-scrollbar{
    display: none;
}
.text{
    overflow: scroll;
    margin: auto;
    width: 100%;
}

.top{
    width: 100%;
    position: fixed;
    height: 57px;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 5px;
    background-color: white;

}

.top__button{
    position: fixed;
    flex-direction: row;
    top: 10px;
    right: 10px;
    z-index: 1;
    padding: 5px;
    background-color: white;
}

.LetUse{
    align-items: center;
    text-align: center;
    height: 60%;
    background-color: #e7e7e7;
    padding: 130px 70px 30px 20px;


}
.forUse{
    height: 150px;
}
.logo {
    font-size: 30px;
    height: 120px;
}

.useContent{
    padding: 20px 0 100px 0;
}

.contributor{
    padding: 30px 0;
    border-top: 1px solid rgb(219, 219, 219);
    bottom: 0;

}

.contributorItem{
    margin: 10px 20px 20px 0;
}