b {
  font-size: 20px;
  line-height: 30px;
  width: 20px;
}
span {
  font-size: 20px;
}

.body {
  padding-left: 15%;
}

.listTitle {
  padding: 10px 0;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: bold;
}

.content {
  text-align: center;
}

.makeNewMeetingBtn {
  width: 300px;
  height: 150px;
  border: 1px;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  background-color: bisque;
}

.grid {
  position: absolute;
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  grid-template-rows: repeat(auto-fill, minmax(150px, 160px));
  gap: 20px;
  padding: 20px;
}

.gridscroll {
  position: relative;
  width: 85%;
  height: 562px;
  background-color: gainsboro;
  overflow-x: auto;
  white-space: nowrap;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
}

.searchGroup {
  position: relative;
  width: 85%;
  display: flex;
  margin: auto;
  justify-content: center;
}

.searchMeeting {
  border: none;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  height: 30px;
  outline: none;
  margin: 0 10px;
  padding: 0 10px;
}

.searchbar {
  padding: 0 10px;
}

.searchBtn {
  width: 50px;
  height: 30px;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.searchBtn:hover {
  background-color: rgb(200, 200, 200);
}

.searchMeeting:focus {
  outline: 1px solid gray;
}
.bombRightOut {
  -webkit-animation-name: bombRightOut;
  animation-name: bombRightOut;
}

.hvrBounceIn {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 1s;
}
.hvrBounceIn:hover, .hvrBounceIn:focus, .hvrBounceIn:active {
  transform: scale(1.05);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  box-shadow: lemonchiffon;
}