.button {
  font: inherit;
  border: 1px solid;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: black;
  border-color: black;
}

.button:focus {
  outline: none;
}
