.sidebar {
  display: flex;
  box-shadow: 1px 0 3px 1px rgb(227, 227, 227);
  flex-direction: column;
  align-items: center;
  width: 17%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 99;
  background-color: #FFFDF6;
}

.logo {
  font-size: 30px;
  height: 120px;
}

.logo:hover {
  cursor: pointer;
}

.userProfile {
  padding: 30px 0 50px 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid rgb(219, 219, 219);
  border-bottom: 1px solid rgb(219, 219, 219);
}

.userName {
  font-size: 18px;
}

.userEmail {
  font-size: 12px;
  color: gray;
}

.menu {
  width: 100%;
  padding: 10px;
}

.menuTitle {
  display: inline-block;
  width: fit-content;
  font-size: 15px;
  font-weight: bold;
}

.menuContent {
  width: 100%;
  padding-top: 10px;
}

.meeting {
  padding: 0 20px;
  height: 30px;
  font-size: 14px;
  padding-bottom: 8px;
  line-height: 30px;
  border-radius: 5px;
  color: dimgray;
}

.meeting:hover {
  cursor: pointer;
  background-color: #ede9e3;
}

.myPage {
  width: 100%;
  border-top: 1px solid rgb(219, 219, 219);
  position: absolute;
  bottom: 0;
  padding: 20px;
  color: dimgray;
}
