body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html,
#root {
  height: 100%;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: light;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: light;
  src: url("styles/fonts/NotoSansKR-Light.woff2") format("woff2"),
    url("styles/fonts/NotoSansKR-Light.woff") format("woff"),
    url("styles/fonts/NotoSansKR-Light.otf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: normal;
  src: url("styles/fonts/NotoSansKR-Regular.woff2") format("woff2"),
    url("styles/fonts/NotoSansKR-Regular.woff") format("woff"),
    url("styles/fonts/NotoSansKR-Regular.otf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: medium;
  src: url("styles/fonts/NotoSansKR-Medium.woff2") format("woff2"),
    url("styles/fonts/NotoSansKR-Medium.woff") format("woff"),
    url("styles/fonts/NotoSansKR-Medium.otf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: bold;
  src: url("styles/fonts/NotoSansKR-Bold.woff2") format("woff2"),
    url("styles/fonts/NotoSansKR-Bold.woff") format("woff"),
    url("styles/fonts/NotoSansKR-Bold.otf") format("truetype");
  font-display: block;
}
